
.pop-picture button{

border: none;
background-color: white;
color: black;


}
.pop-picture img{
width: 60px;
height: 60px;
border-radius: 50%;
animation: backwards;



}
.notification-box
{
    background-color: white;
    margin-top:5px;
    padding: 6px 0px;

    border-radius: 15px;
}
.notification-box .company-logo img{
width: 120px;


}
.notification-box .info-notification-box button{
border-radius: 15px;
border:1px solid white;
font-weight: bold;
width: 150px;
white-space: nowrap;
overflow: hidden;

background-color: red;
color: white;


}
.notification-box .info-notification-box button:hover{

background-color:lightgrey;

}
.notification-box .cross-button
{
margin-right: 5px;
margin-top: -3px;

}
.notification-box .cross-button button{

border:none;
background-color: white;
color:lightgray;

font-weight: lighter;

}
.notification-box .info-notification-box{
    margin-left: 10px;
}
.notification-box .info-notification-box p{
font-weight: bold;
color: rgb(129, 122, 122);

}
.pop-picture{
    
    border:1px solid white;
    background-color: white;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 66px;
    text-align: center;
position: fixed;
bottom: 55%;
transform: translateY(50%,50%);
}
body{
    background-color: rgb(240, 240, 240);

    }